.Box-1 {
  /* margin: 5px; */
  border-radius: 5px;
  height: 45vh;
  background-color: rgb(187,221,206)
}

.box-row {
  height: 50%;
}

.diary-page {
  background-color: lightgrey;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  color: darkblue;
  padding: 10px;

}

.home-container {
  /* background-color: grey; */
  height: 100vh;
  width: 100vw;
  padding: 20px;
  /* padding-top: 20px; */
}

.home-body {
  width: 100vw;
}

body {
  /* background-image: url('https://secure.img1-fg.wfcdn.com/im/00298773/resize-h800%5Ecompr-r85/3636/36366374/Modern+Luxe+Palladian+Geometric+33%2527+x+20.5%2522+Wallpaper+Roll.jpg') */
}

#checkmark {
  height: 50%;
}

input[type="range"]{
  width: 30%;
}

.snapshot{
  height: 100%;
  color: darkblue;
}

.Box-2 {
  padding: 10px;
  height: 100%;
  width: 70%;
  /* height: 100%; */
  /* background-color: grey; */
}

textarea.form-control {
height: 100%;
}

div.form-group.new-entry-container{
  width: 100%;
  min-height: 100%;
}
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
