/* body {
  background-color: red;
} */

.journal-search {
  color: rgb(160, 193, 217);
  float: left;
}

button.ui.orange.button{
  color: white;
}

button#search-button.btn.btn-warning.btn-lg{
  display: inline-block;
}

/* .middle{
  text-align: center;
} */



input.form-control{
  width: 40%;
  margin-bottom: 10px;
}




div.home-container.container{
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  font-family: 'Catamaran', sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
  /* font-family: 'Nanum Gothic', sans-serif; */
  color: white ;
}

nav.navbar.navbar-default{
  padding: 5px;
  margin: 0px;
  background-color: rgba(106, 194, 139, .8);
  /* color: white; */
  height: 65px;
  /* box-shadow:   .5px .5px .5px .5px; */

}

.col-xs-6{
  padding: 0px;
}

div.Box-1.top-left{
  padding: 0px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: lightgrey;
  overflow: auto;
}

canvas#pie-chart.chartjs-render-monitor{
  min-height: 20vh;
  max-height: 30vh;
  min-width: 35vw;
  max-width: 35vw;
  margin-left: 8vw;
  margin-top: 2vh;
}

div.Box-1.top-right{
  padding-top: 12%;
  padding-left: 20%;
  padding-right: 20%;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: lightgrey;
  overflow: auto;
}

.bottom-left{
  border-right: 1px solid;
  border-top: 1px solid;
  border-color: lightgrey;
  overflow: auto;
}

div.Box-1.bottom-right{
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: lightgrey;
  overflow: auto;
  height: 45vh;
  opacity: 0.8;
}

.pie-chart-header{
  margin: 5px;
}

.page-header{
  color: lightgrey;
  margin-left: 5vw;
  font-size: 25px;
}

.form-control, .btn-default{
  background-color: lightgrey;
}

canvas.chartjs-render-monitor{
  min-height: 40vh;
  max-height: 40vh;
  min-width: 43vw;
  max-width: 43vw;
  margin-left: 5%;
  margin-top: 5%;
}



label{
  margin-right: 8px;
}

.Box-1 {
  /* border-radius: 5px; */
  height: 45vh;
  opacity: 0.8;
  padding: 15px;
  /* background-color: grey; */
  text-align: center;
  justify-content: center;
}

.card-body, p{
  color: white;
  height: fit-content;
  font-size: 18px;

}

h5, h4, p{
  color: grey;
}

h2, h3, h6{
  color: white;
}

div.home-container.container {
  height: 100vh;
  width: 100vw;
  /* padding: 20px; */
}

.home-body, .search-body {
  width: 100vw;
  height: 100vh;
}

.home-body, .search-body {
  background: rgb(150, 177, 214)
}

#checkmark {
  height: 20vh;
}

#checkmark{
  height: 20px;
  width: 20px;
  float: right
}

#checkmark:hover{
  height: 24px;
  width: 24px;
  cursor: no-drop;
}

#bookmark{
  height: 20px;
  width: 20px;
  float: right
}

#bookmark:hover{
  height: 24px;
  width: 24px;
  cursor: pointer;
}



/*   SLIDER STYLING BELOW */

input[type="range"]{
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  /* width: 100%; /* Specific width is required for Firefox. */
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* border: 1px solid rgba(106, 194, 139, .6); */
  height: 35px;
  width: 25px;
  border-radius: 8px;
  background: white;
  cursor: col-resize;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: .5px .5px 1px #0d0d0d;
  background: rgba(106, 194, 139, 1);
  border-radius: 1.3px;
  border: .4px solid green;
}

input[type=range] {
  margin: 18px 0;
}
input[type=range]:focus {
  outline: none;
}

.snapshot{
  height: 100%;
  color: darkblue;
}

.Box-2 {
  padding: 10px;
  height: 90%;
  width: 85%;
  display: block;
}

textarea.form-control {
height: 100%;
}

div.form-group.new-entry-container{
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.arrow {
  height: 40px;
  width: 40px;
}

.arrow:hover{

}

.arrow.previous{
  margin-left: 2vw;
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#new-entry{
  margin-top: 3vh;

}

.arrow.next{
  margin-right: 2vw;
  float: right;
}
/*
.arrow:hover{
  height: 35px;
  width: 35px;
} */

div.diary-page.card, #new-diary-entry{
  padding-top: 20px;
  min-height: 22vh;
  max-height: 22vh;
  min-width: 40vw;
  max-width: 40vw;
  overflow: auto;
  display: inline-block;
  background-color: rgba(125, 190, 177, 1);
  border-radius: 5px;
  /* border-color: white;
  border-style: solid;
  border-width: 2px; */
  box-shadow:   1px 1px 1px 1px;
  padding: 10px;
}



#vent{
  margin-top: 25%;
}

div#vent {
  width: fit-content;
  color: white;
  font-size: 20px;
  display: inline-block;
}

a.navbar-brand{
  font-size: 35px;
  color: white;
}

a{
  font-size: 20px;
  /* color: white; */
}

.page-header.search-header{
  padding: 20px;
  text-align: center;
}
div#root{
  background-color: grey;
}

.search-result-item{
  background-color: rgba(106, 194, 139, 1);
  padding: 8px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(93, 155, 113, 1);
  border-width: .5px;
  width: fit-content;
  margin: 3px;
  color: white;
}

.search-result-item:hover{
  box-shadow: 1px 1px 1px 1px;
  background-color: rgba(93, 155, 113, 1);
}

#search-result-placeholder{
  color: white;
}

/* div.journal-search.detail{
  color: grey;
  float: left;
} */


div.search.container{
  margin-left: 3%;
  margin-right: 0px;
  padding: 0;
}

#saved-header{
  color: black;
  width: fit-content;
  float: right;
}

div.saved-div{
  /* background-color: rgba(223, 203, 168, .9); */

}
form.search-form{
  width: 65vw;
  margin-top: 60%;
  justify-content: center;
}

div.journal-search.master {
  background-color: rgba(238,141,112, 1);
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  border-width: .5px;
  min-height: 70vh;
  max-height: 70vh;
  min-width: 25vw;
  max-width: 25vw;
  margin: 10px;
  overflow: auto;
  padding: 15px;
}

div.journal-search.saved{
  /* background-color: rgba(223, 203, 168, .9); */
  max-height: 60vh;
  min-height: 60vh;
  min-width: 19vw;
  max-width: 19vw;
  border-radius: 5px;
  border-width: 2px;
  margin: 10px;
  overflow: auto;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}

div#holder{
  float: right;
  max-height: 70vh;
  min-height: 70vh;
  background-color: lightblue;
  margin: 10px;
  overflow: auto;
  padding: 15px;
  border-radius: 5px;
  min-width: 25vw;
  max-width: 25vw;
  text-align: center;
}

#popover-trigger-focus{
  color: white;
  background-color: rgba(132, 160, 205, 1);
}

.popover-title{
  background-color: rgb(223, 203, 168);
  color: rgb(132, 95, 66);
}

div.page-header.saved-entry{
  color: rgba(92, 70, 60, .7);
  background-color: rgba(223, 203, 168, .9);
  box-shadow: .5px .5px .5px .5px;
  font-size: 15px;
  margin: 5px;
  padding: 35px 18px;
  border-radius: 3px;
  text-align: center;
}

div.page-header.saved-entry:hover{
  background-color: rgba(92, 70, 60, .1);
}

.letter.container{
  background-color: pink;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#letter-holder{
  background-image: url("http://bgfons.com/uploads/paper_grid/paper_grid_PNG5414.png");
  background-size: cover;

  height: 80vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 25px;
}

#letter-textarea{
  background-color: transparent;
  /* padding: 30px; */
  padding-left: 40px;
  /* padding-top: 50px; */
  font-size: 15px;
  color: grey;
  line-height: 31px;
  border-style: hidden;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  /* margin-top: 25px; */
  height: 62.5vh;
  width: 40vw;
}

#dear{
  /* background-color: red; */
  padding-top: 55px;
  padding-right: 140px;
}

#with-rage{
  /* padding-top: 5px; */
  padding-left: 200px;
}

#envelope-gif{
  height: 100vh;
  width: 100vw;
}
