.page-header{
  color: lightgrey;
}

.form-control, .btn-default{
  background-color: lightgrey;
}

.Box-1 {
  border-radius: 5px;
  height: 45vh;
  opacity: 0.8;
  background-color: grey;
  text-align: center;
  justify-content: center;
}

.card-body, p{
  color: white;
}

h5, h4, h3{
  color: white;
}

.box-row {
  height: 50%;
}

.diary-page {
  /* background-color: lightgrey; */
  /* opacity:2; */
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  color: darkblue;
  padding: 10px;
  padding-top: 0;

}

.home-container {
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.home-body {
  width: 100vw;
}

body {
  background-image: url('https://images.unsplash.com/photo-1462721206848-c6bdea1a8d61?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ff920e32dd67b91d27e1d4867a41e4d&auto=format&fit=crop&w=1334&q=80')
}

#checkmark {
  height: 50%;
}

input[type="range"]{
  width: 105%;
}

.snapshot{
  height: 100%;
  color: darkblue;
}

.Box-2 {
  padding: 10px;
  height: 100%;
  width: 85%;
}

textarea.form-control {
height: 100%;
}

div.form-group.new-entry-container{
  width: 100%;
  min-height: 100%;
}

.arrow {
  height: 30px;
  width: 30px;
}

.arrow:hover{
  height: 35px;
  width: 35px;
}

div.diary-page.card{
  height: 100%;
}

#vent{
  margin-top: 25%;
}

div.Box-1.vent:hover{
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: none;
  border-radius: 10px;
}

div#vent {
  width: fit-content;
  color: white;
  font-size: 60px;
  display: inline-block;
}

div#vent:active {
  width: fit-content;
  color: grey;
  font-size: 60px;
  display: inline-block;
  margin-top: 25%;
}


/* .App   text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
